<footer class="footer">
  <div class="footer__row">
    <div class="container">
      <section class="footer__content">
        <h2 class="footer__title section-title title-r title-l">
          get in touch with us
        </h2>
        <div class="footer__text visible-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorum autem delectus quod ratione minus
          voluptas perspiciatis corrupti praesentium asperiores?
        </div>
        <div class="footer__text visible-md">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus veritatis ipsam deserunt qui voluptatibus
          amet, error sed expedita est, omnis vero eligendi alias deleniti assumenda, veniam reprehenderit libero? A,
          nobis?
        </div>
        <ul class="footer__social-buttons">
          <li>
            <a href="#" class="social-btn btn__rss">
              <i class="fa-solid fa-rss"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-btn btn__facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-btn btn__twitter">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-btn btn__dribbble">
              <i class="fa-brands fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-btn btn__pinterest">
              <i class="fa-brands fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
        <div class="footer__address">
          <span>Moonshine St. 14-05 Light City&nbsp;&nbsp;/&nbsp;&nbsp;</span><span>T. +00 (123) 456 78
            90&nbsp;&nbsp;/&nbsp;&nbsp;</span>
          <span>first.last@email.com</span>
        </div>
      </section>
    </div>
  </div>
</footer>