<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
  data-search-pseudo-elements
  src="https://kit.fontawesome.com/f737751420.js"
  crossorigin="anonymous"
></script>


  <link rel="stylesheet" href="./css/style.min.css" />
  <link rel="shortcut icon" type="image/png" href="/images/favicon-32x32.png" />
  <title>HW2</title>
</head>
