@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  @mixin flex-end() {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }