@import 'config/mixins';
@import 'config/vars';
@import 'layout/header';
@import 'layout/main';
@import 'layout/aside';
@import 'layout/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $whiteColor;
  font-size: 14px;
  line-height: 1.2;
  color: $blackColor;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  @include flex-center();
  padding-top: 20px;
  flex-direction: column;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 26px;
}

.title-l::before {
  content: '- ';
}

.title-r::after {
  content: ' -';
}

.header,
.aside,
.footer {
  width: 100%;
  @include flex-center();
}

.main{
  width: 100%;
}

.visible-md {
  display: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  .visible-sm {
    display: none;
  }
  .visible-md {
    display: inline-block;
  }

  .container {
    width: 778px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

